.marker
{
    position: absolute;
    transform: translate(-50%, -100%);
    cursor: pointer;
}

.googleMapContainer
{
    height: 560px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 580px)
{
    .googleMapContainer
    {
        height: 100%;
    }
}