
.containerTabs
{
    display: flex;
    margin: 0;
    padding: 0;
}

.delivery
{
    width: 152px;
    height: 48px;
    margin: 0 8px 0 0;
    border-radius: 5px 5px 0 0;
    font-family: Roboto, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pickup
{
    width: 160px;
    height: 48px;
    margin: 0 8px 0 0;
    border-radius: 5px 5px 0 0;
    font-family: Roboto, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.showTab
{
    cursor: default;
    background-color: #FFFFFF;
    color: #215BF0;
    margin: 0 8px 0 0;
}

.hideTab
{
    cursor: pointer;
    background-color: #EDEEEF;
    color: #999999;
    margin: 0 8px 0 0;
}

@media (max-width: 580px)
{
    .containerTabs
    {
        justify-content: space-between;
    }

    .showTab
    {
        margin: 0;
    }

    .hideTab
    {
        margin: 0;
    }

    .tab
    {
        width: 49%;
    }
}