
.containerOuter
{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
}

.containerInputName,
.containerInputNumber
{
    width: 100%;
    height: 100%;
    margin: 0 5% 0 0;
}

.containerInputNumber
{
    margin: 0 0 0 5%;
}

.containerInputAddress,
.containerInputComment
{
    width: 100%;
    height: 25%;
}

.inputText:focus,
.errorImage:focus,
.textArea:focus
{
    border: 1px solid black;
    outline:none;
}

.textArea
{
    border: 1px solid #999999;
    box-sizing: border-box;
    border-radius: 4px;
    height: 80px;
    width: 100%;
    margin: 5px 0 0 0;
    resize: none;
    outline:none;
    padding: 5px;
}

.showErrorText
{
    color: red;
}

.hideErrorText
{
    display: none;
}

.inputText,
.errorImage
{
    border: 1px solid #999999;
    box-sizing: border-box;
    border-radius: 4px;
    height: 35px;
    width: 100%;
    padding: 5px;
    margin: 5px 0 0 0;
}

.errorImage
{
    background-image: URL("../image/error.svg");
    background-repeat: no-repeat;
    background-position: right;
    padding: 5px 30px 5px 5px;
}

.paddingLabel
{
    font-family: Roboto, sans-serif;
}

@media (max-width: 580px)
{
    .containerOuter
    {
        flex-direction: column;
        margin: 0 0 10% 0;
    }

    .containerInputName
    {
        margin: 0 0 5% 0;
    }

    .containerInputNumber
    {
        margin: 0;
    }
}








